body {
    margin: 0;
    position: relative;
}
/* body:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
} */
.common-btn {
    background-color:#e91e63;
    color:white;
    padding: 1.125rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1.333333;
    border-radius: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.btn.common-btn:hover {
    background: rgb(249, 99, 50);
    color: #fff;
    box-shadow: inset 0 5px 20px 0 rgba(0,0,0,.25)
}
.outer {
    padding: 75px 0;
    text-align: center;
}
p::selection {
    background: #e91e63;
    color: #fff;
}
h2::selection {
    background: #e91e63;
    color: #fff;
}
h3::selection {
    background: #e91e63;
    color: #fff;
}
h1::selection {
    background: #e91e63;
    color: #fff;
}
/* h2 {
    font-family: 'Open Sans', sans-serif;
} */
h2 p {
    /* font-family: 'Herr Von Muellerhoff', cursive; */
    /* font-family: 'Marck Script', cursive;  */
    font-size: 20px;
    margin: 10px 0 35px 0;
    font: 600 10px/1 'Montserrat', sans-serif;
}



/* ******** */
/* nav bar */
/* ********/

.navbar-pc {
    display: none;
}
.navbar-mob {
    display: block;
}
.navbar-mob img {
    margin-top: -72px;
    margin-right: 4px;
    margin-left: 40px;
}
.navbar-ime img {
    margin-top: -18px;
    margin-left: -112px;
    margin-right: 185px;

}
button.menu-mob {
    color: #fff;
    border: none;
    background: none;
    font-size: 21px;
    margin-top: -14px;
}
button.menu-mob:hover {
    background: none;
    color: rgb(249, 99, 50);
}
.banner-text-mob .Welcome {
    margin-top: 282px;
}


/* ******** */
/* nav bar */
/* ******** */

/* .nav-pc {
    padding:30px 0;
    width: 120px;
    margin: 0px auto;
} */

.banner {
    text-align: center;
    /* background-image: url(../img/icon_bottle-pour-dark-animated.svg); */
    background-repeat: no-repeat;
    color: white;
    background-color: black;
}
.banner h1{
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}
.banner h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
}
.banner .banner-text {
    padding-top: 123px;
    padding-bottom: 50px;
}
.banner .banner-text h3 {
    font-size: 2.75rem;
    font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif;
    letter-spacing: 12px;
    margin-top: 55px;
}
.banner .banner-text-mob h3 {
    font-size: 2.75rem;
    font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif;
    letter-spacing: 12px;
    margin-top: 55px;
}

img.smoke-img {
    margin-top: -187px;
    margin-left: 790px;
    transform: rotateZ(178deg);
}



/* ******** */
/* Services */
/* ******** */

.services {
    text-align: center;
}
.services-img {
    position: relative;
}

.services-img:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #e91e63;
}
.services-img:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: #e91e63;
}

.front {
    transition: all 2s ease;
    
}
.card h4{
    font: 400 15px/1.65em 'Nunito Sans', sans-serif;
    margin-top: 10px;
}    

.subheading {
    font: 600 10px/1 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0 30px 0;
}

.card:hover .front{
    transform: rotateY(-180deg);
    transition: all 0.3s ease;
    z-index:0;
  }
  .card:hover .back{
    transform: rotateY(0deg);
    transition: all 0.3s ease;
    z-index:1;
  }
  /* .front{
    z-index:1;
  } */

/* ******** */
/* About us */
/* ******** */
.about-us .container {
    background-image: url(../img/bg_nav.svg);
    background-repeat: no-repeat;
}
.about-us .about {
    padding-left: 85px;
    position: relative;
    
}
.about-us .about h2{
    font-size: 20px;
}
.title {
    margin-bottom: 4.5rem;
    font-size: 27px;
    margin-top: 30px;
}
.about-us .about img{
    position: absolute;
    left:0;
    width: 66px;
    border: 6px solid #dedede;
    border-radius: 50%;
}
.about-us .about::after{
    content: '';
    height: calc(100% + 20px);
    width: 6px;
    background: #e9ecef;
    position: absolute;
    top:0;
    left: 33px;
    transform: translateX(-50%);
    z-index: -1;
}
.about-us .about h2 {
    text-align: left;
    color: #212529;
    font-size: 24px;
    margin: 0 0 8px;
    font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif;
}
.about-us .about .para-text {
    line-height: 1.75;
    font-family: "Jost", "Glacial Indifference", "Montserrat", "Open Sans", sans-serif;
}
.about-us .para-text1 {
    padding-bottom: 2rem;
    font-style: italic;
    font-size: 18px;
}
.about.left h2 {
    text-align: right;
}
.about.left .para-text {
    text-align: right;
}
.about.right h2 {
    text-align: left;
}
.about.right .para-text {
    text-align: left;
}
.about-us .join {
    width: 66px;
    height: 66px;
    background-color: #e91e63;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    border: 6px solid #dedede;
    color: #fff;
}
.slider {
    background: #e5e5e5;
}

.about-img {
    position: relative;
}
    /* margin-bottom: 35px;
    max-width: 100%;
    transition: transform 2s;
}
.about-img:hover {
    transform: scale(1.2)
} */
.about-img:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #e91e63;
}
.about-img:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: #e91e63;
}

/* ******** */
/* Team */
/* ******** */
.outer.team-bg {
    background: #f8f9fa;

}
.team-headings {
    margin-bottom: 50px;
}
.project-member img {
    width: 84%;
    border-radius: 8px;
    box-shadow: 0px 2px 92px 0px rgba(0,0,0,0.18);
    transition: all ease 0.3s;
}
.project-member figure figcaption {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
    color: #afafaf;
}
.project-member figure figcaption:hover {
    color: #202020;
}


ul.inlinelist {
    padding-left: 0;
}
.inlinelist li {
    display: inline-block;
    padding: 6px;
   
}
.inlinelist li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #212529;
}

.inlinelist li a:hover {
    background-color: rgb(249, 99, 50);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.5)
}
.team-para {
    padding: 40px 0px;
    font-size: 18px;
}
.project-member figure {
    position: relative;
    margin-top: 50px;
    
}
.project-member figure {
    position: relative;
    margin-bottom: 35px;
    max-width: 100%;
    transition: transform 2s;
}
.project-member figure:hover {
    transform: scale(1.2)
}
.team-img:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #e91e63;
}
.team-img:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: #e91e63;
}
.comtact-im {
    width: 278px;
    opacity: 0.8;
}


/* ******** */
/* My Works */
/* ******** */
.arts img {
    position: relative;
    max-width: 100%;
    transition: transform 2s;
    overflow: hidden;
}
.arts img:hover {
    transform: scale(1.2)
}
.vet-arts img {
    position: relative;
    max-width: 100%;
    transition: transform 2s;
    overflow: hidden;
}
.vet-arts img:hover {
    transform: scale(1.2)
}




.work-img {
    position: relative;
    max-width: 100%;
    transition: transform 2s;
}
.work-img:hover {
    transform: scale(1.2)
}
.work-img:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #e91e63;
}
.work-img:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: #e91e63;
}

.arts img {
    width: 263px;
    height: 200px;
    margin: 45px 0 50px 0;
    /* transition: transform 2s ease-out 0.15s; */
}
.hor-arts img {
    padding-bottom: 31px;
}
.vet-arts {
    display: none;
}
.vet-arts-mob {
    display: none;
}

.portfolio-bg {
    /*transform moves, transition animates*/
    -webkit-transform: rotateY(30deg);
    -webkit-transition: -webkit-transform 0.5s ease;
}
.portfolio-item:hover .portfolio-bg {
    -webkit-transform: rotateY(0deg);
}





/* ******** */
/* Contact */
/* ******** */

.contact-bg{
    background-image: url(../img/bgBlogHome.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 75px 0 0;
    text-align: center; 
    margin-top: -83px;
}
.contact-me {
    color: #dc3545;;
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    line-height: 30px;
    padding-bottom: 16px;
    position: relative;
}
.contact-me:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: #e91e63;
}
.contact-form {
    padding: 15px;
    height: auto;
    background-color: black;
    margin: 0 32px;
}
.contact-dtl {
    color: white;
    text-align: center;
    padding: 25px;
    line-height: 26px;
}

.form-fmo {
    height: 130px;
    width: 88%;
    background-color: black;
    border: 1px solid gray;
    margin-bottom: 20px; 
}
.form-fm {
    padding: 20px 0 16px 0;
    width: 88%;
    height: fit-content;
    background-color: black;
    border: 1px solid gray;
}
textarea.form-fmo:hover {
    color: white;
    border: 1px solid white;
}
input.form-fm:hover {
    color: white;
    border: 1px solid white;
}

/* ******** */
/* footer */
/* ******** */
.footer {
    text-align: center;
    font-size: 12px;
    color: wheat;
}
.Privacy {
    color: #fed136;
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    padding-left: 0px;
}
.list-inline-item a {
    color: #fed136;
}

.footer span.copyright {
    font-size: 90%;
    line-height: 40px;
}
.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}
.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}
.team-im {
    width: 250px;
}


@media only screen and (min-width: 992px){

    /* ******** */
    /* Nav-Pc */
    /* ******** */
    .navbar-pc {
        display: block;
    }
    .navbar-mob {
        display: none;
    }

    .logo-hd {
        font-size: 10px;
        text-align: left;
        margin-left: 107px;
    }
    .lo-img {
        margin-right: 302px;
        margin-top: -57px;
    }
    .navbar-im {
        margin-right: 20px;
    }
    .navbar-im img {
        margin-top: -41px;
    }
    .nav-pc li {
        float: left;
        margin-right: 33px;
        padding: 0;
        font-size: 12px;
        list-style: none;
    }
    .nav-pc {
        margin-top: -45px;
    }
    .nav-pc li:last-child {
        margin-right: 24px;
        float: right;
    }
    .nav-pc a {
        color: #fff;
    }
    .nav-pc a:hover {
        color:#e91e63;
        border-bottom:1px solid #e91e63;
        padding-bottom:1px;
        text-decoration: none;
    }



    /* ******** */
    /* About us */
    /* ******** */

    .about-us .about img {
        width: 140px;
    }
    .about-us .about {
        padding-bottom: 100px;
    }
    .about-us .about.left {
        padding-left: 0;
        padding-right: 85px;
        
    }
    .about-us .about.left:after,
    .about-us .about.left img {
        left: calc(100% + 15px);
        transform: translateX(-50%);
    }  
    
    .about-us .about.right:after,
    .about-us .about.right img {
        right: calc(100% + 15px);
        transform: translateX(50%);
        left: auto;
    }    
    .about-us .join{
        margin: 0 auto;
        width: 140px;
        height: 140px;
        font-size: 23px;
        line-height: 27px;
    }

    

    /* ******** */
    /* My Works */
    /* ******** */
    .vet-arts {
        display: block;
    }
    .vet-arts-mob {
        display: none;
    }

    .vet-arts img{
        width: 554px;
        height: 200px;
        margin: 45px 0;
    }
    /* ******** */
    /* Team-bg */
    /* ******** */

    .team-para {
        padding: 40px 170px;
        font-size: 20px;
    }

    .scroll-btn.btn-show {
        opacity: 1;
        visibility: visible;
        z-index: 999999;
        right: 30px;
    }
    /* [class^="ti-"], [class*=" ti-"] {
        font-family: 'themify';
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } */
    .ti-arrow-up:before {
        content: "\e627";
    }
    .scroll-btn {
        bottom: 30px;
        color: #e91e63;
        font-size: 28px;
        opacity: 0;
        position: fixed;
        right: 40px;
        transition: all 0.3s ease 0s;
        visibility: hidden;
    }
    html {
        scroll-behavior: smooth;
    }


    .loader span {
        display: inline-flex;
        width: 20px;
        height: 20px;
        background: #eee;
        border-radius: 50%;
        margin: 0 5px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      }
      
      .loader span:nth-child(2) {
        background: #f07e6e;
      }
      
      .loader span:nth-child(3) {
        background: #84cdfa;
      }
      
      .loader span:nth-child(4) {
        background: #5ad1cd;
      }
      
      .loader span:not(:last-child) {
        animation: animate 1.5s linear infinite;
      }
      
      @keyframes animate {
        0% {
          transform: translateX(0);
        }
      
        100% {
          transform: translateX(30px);
        }
      }
      
      .loader span:last-child {
        animation: jump 1.5s ease-in-out infinite;
      }
      
      @keyframes jump {
        0% {
          transform: translate(0, 0);
        }
        10% {
          transform: translate(10px, -10px);
        }
        20% {
          transform: translate(20px, 10px);
        }
        30% {
          transform: translate(30px, -50px);
        }
        70% {
          transform: translate(-150px, -50px);
        }
        80% {
          transform: translate(-140px, 10px);
        }
        90% {
          transform: translate(-130px, -10px);
        }
        100% {
          transform: translate(-120px, 0);
        }
      }
      
          

    





   



    }